body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to bottom right, #6a82fb, #fc5c7d);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

nav {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px 40px;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 30px;
}

nav a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
}

nav a:hover {
    color: #666;
}

.content {
    text-align: center;
    color: #fff;
}
/* Добавьте эти стили после существующих стилей */

.notes {
    width: 80%;
    max-width: 600px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 20px;
    margin: 40px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.notes h2 {
    color: #000;
    margin: 0 0 20px;
}

.notes textarea {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    padding: 10px;
    border-radius: 10px;
    resize: none;
}

.notes button {
    display: block;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.notes button:hover {
    background-color: rgba(255, 255, 255, 0.9);
}
#board {
    margin: 0 auto;
}

#fen {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    display: block;
}

